:root {
  --white-rgb: 255, 255, 255;

  --grey100-rgb: 229, 230, 232;
  --grey200-rgb: 204, 206, 209;
  --grey300-rgb: 178, 182, 186;
  --grey400-rgb: 153, 158, 163;
  --grey500-rgb: 127, 134, 140;
  --grey600-rgb: 102, 110, 117;
  --grey700-rgb: 76, 86, 94;
  --grey800-rgb: 50, 62, 70;
  --grey900-rgb: 25, 38, 47;

  --blue100-rgb: 204, 244, 255;
  --blue200-rgb: 153, 227, 255;
  --blue300-rgb: 102, 205, 255;
  --blue400-rgb: 63, 182, 255;
  --blue500-rgb: 0, 144, 255;
  --blue600-rgb: 0, 111, 219;
  --blue700-rgb: 0, 83, 183;
  --blue800-rgb: 0, 58, 147;
  --blue900-rgb: 0, 41, 122;

  --green100-rgb: 227, 251, 214;
  --green200-rgb: 194, 247, 174;
  --green300-rgb: 148, 232, 129;
  --green400-rgb: 105, 210, 93;
  --green500-rgb: 49, 181, 47;
  --green600-rgb: 34, 155, 42;
  --green700-rgb: 23, 130, 40;
  --green800-rgb: 14, 104, 36;
  --green900-rgb: 9, 86, 34;

  --yellow100-rgb: 255, 249, 214;
  --yellow200-rgb: 255, 242, 173;
  --yellow300-rgb: 255, 233, 131;
  --yellow400-rgb: 255, 224, 101;
  --yellow500-rgb: 255, 210, 50;
  --yellow600-rgb: 219, 175, 36;
  --yellow700-rgb: 183, 141, 25;
  --yellow800-rgb: 147, 109, 15;
  --yellow900-rgb: 122, 87, 9;

  --red100-rgb: 255, 230, 215;
  --red200-rgb: 255, 199, 176;
  --red300-rgb: 255, 161, 136;
  --red400-rgb: 255, 125, 107;
  --red500-rgb: 255, 65, 58;
  --red600-rgb: 219, 42, 51;
  --red700-rgb: 183, 29, 49;
  --red800-rgb: 147, 18, 46;
  --red900-rgb: 122, 11, 44;

  /* ===== Semantic Colors ===== */
  --info-rgb: var(--grey500-rgb);
  --primary-rgb: var(--blue500-rgb);
  --success-rgb: var(--green500-rgb);
  --warning-rgb: var(--yellow500-rgb);
  --danger-rgb: var(--red500-rgb);
}
