:root {
  --white-rgb: 255, 255, 255;

  --grey100-rgb: 204, 210, 212;
  --grey200-rgb: 178, 188, 191;
  --grey300-rgb: 153, 165, 170;
  --grey400-rgb: 127, 143, 149;
  --grey500-rgb: 102, 121, 127;
  --grey600-rgb: 76, 98, 106;
  --grey700-rgb: 50, 76, 85;
  --grey800-rgb: 25, 54, 64;
  --grey900-rgb: 0, 32, 43;

  --blue100-rgb: 173, 241, 241;
  --blue200-rgb: 122, 234, 234;
  --blue300-rgb: 92, 220, 220;
  --blue400-rgb: 61, 197, 225;
  --blue500-rgb: 0, 163, 219;
  --blue600-rgb: 0, 138, 187;
  --blue700-rgb: 0, 114, 158;
  --blue800-rgb: 0, 89, 127;
  --blue900-rgb: 0, 70, 107;

  --green100-rgb: 230, 245, 192;
  --green200-rgb: 207, 237, 166;
  --green300-rgb: 170, 211, 139;
  --green400-rgb: 129, 174, 105;
  --green500-rgb: 93, 148, 74;
  --green600-rgb: 72, 124, 60;
  --green700-rgb: 51, 99, 46;
  --green800-rgb: 38, 78, 38;
  --green900-rgb: 30, 66, 30;

  --yellow100-rgb: 255, 239, 179;
  --yellow200-rgb: 255, 225, 133;
  --yellow300-rgb: 255, 212, 102;
  --yellow400-rgb: 255, 198, 76;
  --yellow500-rgb: 255, 174, 41;
  --yellow600-rgb: 218, 153, 36;
  --yellow700-rgb: 186, 130, 32;
  --yellow800-rgb: 153, 105, 27;
  --yellow900-rgb: 122, 83, 22;

  --red100-rgb: 255, 220, 207;
  --red200-rgb: 255, 187, 171;
  --red300-rgb: 255, 151, 133;
  --red400-rgb: 255, 119, 102;
  --red500-rgb: 255, 51, 51;
  --red600-rgb: 204, 36, 36;
  --red700-rgb: 166, 30, 30;
  --red800-rgb: 122, 22, 22;
  --red900-rgb: 94, 15, 15;

  /* ===== Semantic Colors ===== */
  --info-rgb: var(--grey500);
  --primary-rgb: var(--blue500);
  --success-rgb: var(--green500);
  --warning-rgb: var(--yellow500);
  --danger-rgb: var(--red500);
}
