:root {
  --font-size-h1: 1.75rem; /* 28px */
  --font-size-h2: 1.5rem; /* 24px */
  --font-size-h3: 1.375rem; /* 22px */
  --font-size-h4: 1.25rem; /* 20px */
  --font-size-h5: 1.125rem; /* 18px */
  --font-size-h6: 1rem; /* 16px */
  --font-size-body-lg: 1.125rem; /* 18px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-sm: 0.875rem; /* 14px */
  --font-size-small: 0.75rem; /* 12px */

  --line-height-h1: 1.35;
  --line-height-h2: 1.4;
  --line-height-h3: 1.45;
  --line-height-h4: 1.5;
  --line-height-h5: 1.55;
  --line-height-h6: 1.6;
  --line-height-body-lg: 1.75;
  --line-height-body: 1.7;
  --line-height-body-sm: 1.65;
  --line-height-small: 1.6;

  --letter-spacing-h1: -0.015rem;
  --letter-spacing-h2: -0.01rem;
  --letter-spacing-h3: -0.005rem;
  --letter-spacing-h4: 0;
  --letter-spacing-h5: 0.005rem;
  --letter-spacing-h6: 0.005rem;
  --letter-spacing-body-lg: 0.01rem;
  --letter-spacing-body: 0.015rem;
  --letter-spacing-body-sm: 0.02rem;
  --letter-spacing-small: 0.025rem;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 992px) {
  :root {
    --font-size-h1: 2.25rem; /* 36px */
    --font-size-h2: 2rem; /* 32px */
    --font-size-h3: 1.8rem; /* 29px */
    --font-size-h4: 1.725rem; /* 28px */
    --font-size-h5: 1.5rem; /* 24px */
    --font-size-h6: 1.25rem; /* 20px */
    --font-size-body-lg: 1.5rem; /* 24px */
    --font-size-body: 1.125rem; /* 18px */
    --font-size-body-sm: 1rem; /* 16px */
    --font-size-small: 0.875rem; /* 14px */
  }
}
