:root {
  --font-size-h1: 1.6rem; /* Scaled relative to body (12px) */
  --font-size-h2: 1.4rem;
  --font-size-h3: 1.2rem;
  --font-size-h4: 1rem;
  --font-size-h5: 0.9rem;
  --font-size-h6: 0.8rem;
  --font-size-body-lg: 1.25rem; /* 20px */
  --font-size-body: 1rem; /* 16px */
  --font-size-body-sm: 0.875rem; /* 14px */
  --font-size-small: 0.5rem; /* 8px */
  --font-size-xsmall: 0.375rem; /* 6px */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --line-height-h1: 1.4;
  --line-height-h2: 1.4;
  --line-height-h3: 1.4;
  --line-height-h4: 1.4;
  --line-height-h5: 1.4;
  --line-height-h6: 1.4;
  --line-height-body-lg: 1.8; /* Adjusted for new size */
  --line-height-body: 1.75; /* Adjusted for new size */
  --line-height-body-sm: 1.7; /* Adjusted for new size */
  --line-height-small: 1.5;
  --line-height-xsmall: 1.4;

  --letter-spacing-h1: -0.02em;
  --letter-spacing-h2: -0.01em;
  --letter-spacing-h3: 0em;
  --letter-spacing-h4: 0em;
  --letter-spacing-h5: 0em;
  --letter-spacing-h6: 0em;
  --letter-spacing-body-lg: 0.015em; /* Adjusted for new size */
  --letter-spacing-body: 0.01em; /* Adjusted for new size */
  --letter-spacing-body-sm: 0.005em; /* Adjusted for new size */
  --letter-spacing-small: 0em;
  --letter-spacing-xsmall: 0em;

  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

@media (min-width: 992px) {
  :root {
    --font-size-h1: 2.8rem; /* Scaled relative to body (20px) */
    --font-size-h2: 2.4rem;
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.4rem;
    --font-size-h5: 1.2rem;
    --font-size-h6: 1rem;
    --font-size-body-lg: 1.5rem; /* 24px */
    --font-size-body: 1.25rem; /* 20px */
    --font-size-body-sm: 1rem; /* 16px */
    --font-size-small: 0.75rem; /* 12px */
    --font-size-xsmall: 0.625rem; /* 10px */

    --line-height-body-lg: 1.85; /* Adjusted for new size */
    --line-height-body: 1.8; /* Adjusted for new size */
    --line-height-body-sm: 1.75; /* Adjusted for new size */
  }
}
