.root {
  width: 100%;
}

.title {
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height-body-lg);
  letter-spacing: var(--letter-spacing-body-lg);
}

.date {
  font-size: var(--font-size-body-sm);
  line-height: var(--line-height-body-sm);
  letter-spacing: var(--letter-spacing-body-sm);
}
